Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
Pattern==2.6
PyYAML==3.10
Werkzeug==0.9.4
httplib2==0.8
itsdangerous==0.23
multiprocessing==2.6.2.1
nltk==2.0.4
numpy==1.6.1
oauth==1.0.1
oauth2==1.5.211
pandas==0.10.1
psutil==1.1.1
scikit-learn==0.13
scipy==0.11.0rc2
virtualenv==1.10.1
gunicorn==0.17.2
