{% extends "base.html" %}
{% block content %}
<div class="row">
{% for item in news %}
  <div class="span3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="media">
            {% for item2 in media %}
           <img class="media-object" src= {{item.url}} alt=140>  
            {% endfor %}           
           <div class="media-body">
            <h4  class="media-heading"><a href={{item.link}}>{{item.title}}</a> <small>{{item.author}}</small></h4>       
          </div>
        </div>  
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}