{% extends "base2.html" %}
{% block content %}
{% for item in news %}
<div class="item">
   {% if item.image %}
    <img src={{item.image}} alt="titulares" width="500" height="99" />
    {% else %}
    <img src="static/background.png" alt="titulares" width="500" height="99" />
    {% endif %}
    <div class="carousel-caption">
        <div class="span2">
            <h1>{{item.title}}</h1>
        </div>
        <br><br><br>
        <div class="span6">
            <div class="welcome-blurb">
                <p>{{item.author}}</p>  
                <p><a class="btn btn-primary btn-lg" href={{item.link}} target="_blank">Leer</a></p>
            </div>
            <br>
        </div>
    </div>
 </div>  
    
{% endfor %}
{% endblock %}
