{% extends "base2.html" %}
{% block content %}
{% for item in news %}
 <li id="slide">
    {% if item.image %} 
    <div style="height:500px; overflow:hidden"> 
        <img class="back" src={{item.image}} style="width:100%" />  
    </div>    
    {% else %}
    <img class="back" src="static/background.png" height="500" style="width:100%" />
    {% endif %}
    <div class="orbit-caption" style="background-color : transparent;">                                                        
        <div class="small-10 large-centered columns" style="text-align: center">
            <h2>{{item.title}}</h2>
            <p style="color:white;">{{item.author}}</p>
            <a href={{item.link}} class="button" target="_blank">Leer</a>
        </div>                         
   </div>                
</li>   
{% endfor %}
{% endblock %}