{% extends "base2.html" %}
{% block content %} 
 <div class="large-1 columns">
  <h3 style="color:grey">{{title}}</h3>
 </div>
 <div class="large-8 columns"> 
  <div class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true }'>
  {% for item in news[0:19] %} 
  {%if item.images%}    
  <div class="item">      
      <div class="title container-radius">   
            
          <img src={{item.images[0]}} /> 
          
          <div class="image {{item.div}}">  
           <div class="ban {{item.div}}"> </div>
           <br>                    
            <div class="row">
              <div class="large-12 columns">
                <a href="/articles/id/{{item['_id']}}" >   
              <h6 ><strong>{{item.titlePost}}</strong></h6>
              </a> 
              </div> 
              </div>  
            <div class="row">      
              <div class="small-8 large-8 columns">
                <p style="color:black;">{{item.author}}</p>
              </div>
              <div class="small-4 large-4 columns">
                <p style="color:color:black;"><i class="fa fa-bookmark fa-lg"></i> 3 min</p>
              </div>
               </div>
            </div>                     
      </div> 
                     
  </div>
  {%endif%}
  {% endfor %}
  </div>
</div>
<div class="large-3 columns"> 
<div class="container sticky">  
  <div class="container-radius" style="background-color:white;">
    <div class="large-12 columns">    
    <h3>Actualidad</h3>
    <p>Las categorías más relevantes en las últimas 6 horas</p>
     <div class="treemap"></div>
    {% for item in trends['categories'][0:9] %}
    <!--div class="row">
      <a href="/{{item.category}}">{{item.category}}</a>
    </div-->  
   {% endfor %} 
   <br> 
   </div>
  </div>
  <br>
   <div class="row text-center">
      <a href=""><i class="fa fa-twitter fa-2x"></i></a>
      <span>
      <a href=""><i class="fa fa-facebook fa-2x"></i></a>
      <a href=""><i class="fa fa-google-plus fa-2x"></i></a>
      <a href=""><i class="fa fa-rss fa-2x"></i></a>
  </div>
  </div> 
</div>
<br>

<script>

var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = 400 - margin.left - margin.right,
    height = 375 - margin.top - margin.bottom;


//var color = d3.scale.category20c();
//var color = d3.scale.linear().nice()
 //       .domain([7,20])
 //       .range(["#AAD6D5","#55B5C5","#00133D"]);

var color = d3.scale.ordinal()
        .domain([7, 20])
        .range(["#00A0B0", "#6A4A3C","#CC333F","#EB6841","#EDC951"]);


var div = d3.select(".treemap")   
    
    .style("height", (height) + "px")
    ;

var treemap = d3.layout.treemap()
    .size([width, height])
    .sticky(true)
    .value(function(d) { return d.num; });

root={
 "name": "flare",
 "children": []};

 var data= {{trends['categories'][0:19]|tojson|safe}};

for (i =0; i < data.length ; i++) {
  root['children'].push({"name": data[i]['category'],
 "children": [data[i]]})
};
console.log(root)

  var node = div.datum(root)
  .selectAll(".node")      
      .data(treemap.nodes) 
      .enter()
      .append("a")     
      .attr("href", function(d) { return d.children ? null :"/"+ d.category; }) 
      .append("div")
      .attr("class", "node")
      .call(position)
      .style("background", function(d) { return color(d.num); }) 
      
      .text(function(d) { return d.children ? null : d.category; })
      .style("font-size", function(d) {
          // compute font size based on sqrt(area)
          return Math.max(10, 0.15*Math.sqrt(d.area))+'px'; })     
        .attr("transform", "rotate(-90)")      
        .style("color", "white");

  

  var tooltip = d3.select("body")
  .append("div")
    .attr("class", "tip-d3")
    .style("opacity", 0);

 d3.selectAll("input").on("change", function change() {
    var value = this.value === "count"
        ? function() { return 1; }
        : function(d) { return d.num; };

    node
        .data(treemap.value(value).nodes)
      .transition()
        .duration(1500)
        .call(position);
    
    
  });

 node.on("mouseover", function(d) {
          d3.select(this).transition().duration(200)                        
                        .style("opacity", 0.7);
          tooltip.transition()
               .duration(200)
               .style("opacity", 0.9);
          tooltip.html("<p>La sección de <strong>"+ d.category + "</strong> ha supuesto un total de <strong>"+ d.num +"</strong> noticias en las últimas 6 horas.</p>")
               .style("left", (d3.event.pageX -100 ) + "px")
               .style("top", (d3.event.pageY -70) + "px");
      })
      .on("mouseout", function(d) {
        d3.select(this).transition().duration(200)
                        .style("opacity", 1);
          tooltip.transition()
               .duration(500)
               .style("opacity", 0);
      });
  


function position() {
  this.style("right", function(d) { return d.y + "px"; })
      .style("top", function(d) { return d.x + "px"; })
      .style("width", function(d) { return Math.max(0, d.dy) + "px"; })
      .style("height", function(d) { return Math.max(0, d.dx ) + "px"; });
}

</script>
{% endblock %}